{% extends "base.html" %}
{% block content %}

   {% for item in dataset %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ item['photo_url'] }}" >
              <p class="card-text">ID:{{ loop.index }}<br>Name:{{ item['Name'] }}<br>Date:{{ item['Date'] }}<br>Location:{{ item['Location'] }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">Last Editted: 8 Mar, 2020</small>
              </div>
            </div>
          </div>
        </div>
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
      {% endfor %}

{% endblock %}